src/Zahar.SqlClient/Selectors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Selectors">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Procedures">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Add" type="Procedure" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Procedure">
    <xs:attribute name="Schema" type="xs:string" use="required" />
    <xs:attribute name="Name" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>